! Command: show running-config
! device: arista (vEOS, EOS-4.22.0F)
!
! boot system flash:/vEOS-lab.swi
!
transceiver qsfp default-mode 4x10G
!
hostname arista
!
spanning-tree mode mstp
!
no aaa root
!
username admin role network-admin secret sha512 $6$1.Yme55voU0YfqGY$Ag2Fs/ZBTe6nBwWc1Tt3C/4OdsKVGaloGBQWZi6cFcpFv3HvASysxY4m2CCBijSHIDGDq3MvE5HNI2gW7GYA7/
!
interface Management1
   ip address dhcp
   dhcp client accept default-route
!
no ip routing
!
management api http-commands
   protocol http
   no shutdown
!
end

